.head{
    margin-top: 30px;
}
.ln{
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 50px;
}

.wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}