
.productlist {
    margin-top: 50px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill,min-max(200px, 1fr));
    grid-template-rows: repeat(auto-fill, min-content);
    grid-gap: 70px;
   }
   .name{
       line-height: 50px;
   }
   .status {
    cursor: pointer;
       width: 100px;
       border: 1px solid red;
       line-height: 50px;
       padding-left: 5px;
       padding-right: 5px;
       text-transform: uppercase;
       text-align: center;
   }
   .statusbtn{
    cursor: pointer;
    padding: 0 5px 0 5px;
    background-color: rgb(224, 224, 208);
    border: 1px solid black;
   }
   .statusinput{
    padding-left: 5px;
   }
   .clientInfo{
       display: flex;
       justify-content: space-between;
       border: 2px solid black;
       padding: 20px 50px;
   }
   
   .orders_wrapp{
       margin: 30px 0 70px 0;
       padding-left: 50px;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       border: 1px solid rgb(224, 224, 208);
 
   }
   .price{
       width: 100%;
       margin-right: 50px;
       text-align: right;
   }
   .total {
    margin-right: 50px;
    font-size: 1.2em;
    text-align: right;
   }
   
   