.formauth{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
    button {
        cursor: pointer;
        width: 100%;
        height: 40px;
        background-color: rgb(224, 224, 208);
        &:hover{
            background-color: rgb(244, 244, 237);
            color: rgb(96, 96, 96);
        }
    }
    input{
        padding-left: 10px;
        margin-bottom: 20px;
        width: 100%;
        height: 30px;
        outline: none;
        border: 1px solid black;
        background-color: transparent;
    }
}