.itemWrapp{
    display: flex;
    justify-content: space-between;
}
.list {
    width: 400px;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(224, 224, 208);
    padding: 15px;
    border-radius: 10px;
    margin-right: 50px;
}

.delete{
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: rgb(224, 224, 208);
    border: 1px solid  rgb(224, 224, 208);
    border-radius: 20%;
}
