.itemWrapp{
    display: flex;
    justify-content: space-between;
}
.list {
    width: 400px;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(205, 202, 202);
    padding: 15px;
    border-radius: 10px;
    margin-right: 50px;
}

.delete{
    cursor: pointer;
    text-transform: uppercase;
    width: 54px;
    height: 54px;
    background-color: rgb(205, 202, 202);
    border: 1px;
    border-radius: 20%;
}
