.list {
    width: 400px;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(224, 224, 208);
    padding: 15px;
    border-radius: 10px;
    margin-right: 50px;
}

.delete{
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 2em;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}
