
.wrapp{
    display: flex;
    justify-content: flex-end;
}
.form{
    display: grid;
    grid-template-rows: repeat(4, auto);

    h2{
        text-align: center;
    }
    textarea {
        resize: none;
        margin-bottom: 40px;
        height: 100px;
     }
    input{
        margin-bottom: 20px;
        width: 400px;
        height: 40px;
    }
    button{
        cursor: pointer;
        text-transform: uppercase;
        width: 50%;
        height: 40px;
        border: 1px solid  rgb(224, 224, 208);
        border-radius: 5px;
        background-color: rgb(224, 224, 208);
        margin: 0 auto;
        &:hover{
            background-color: rgb(244, 244, 237);
            color: rgb(96, 96, 96);
        }
    }
}

.error{
    padding: 0;
    color: red;
}