
.wrapp{
    display: flex;
    justify-content: flex-end;
}
.form{
    display: grid;
    grid-template-rows: repeat(4, auto);

    h2{
        text-align: center;
    }
    textarea {
        resize: none;
        margin-bottom: 40px;
        height: 100px;
     }
    input{
        margin-bottom: 20px;
        width: 400px;
        height: 40px;
    }
    button{
        cursor: pointer;
        text-transform: uppercase;
        width: 50%;
        height: 40px;
        border: 1px;
        border-radius: 5px;
        background-color: rgb(205, 202, 202);
        margin: 0 auto;
        transition: ease-in-out .4s;
        &:hover{
            background-color: darkgray;
            color: white;
        }
    }
}

.error{
    width: 400px;
    margin: 10px 0 19px 0;
    padding: 0;
    color: red;
}