.productlist {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
    margin-right: 30px;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.listitem{
    border: 1px solid rgb(205, 202, 202);
    padding-bottom: 20px;
    border-radius: 10px;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, min-content);
}
.photo {
    display: flex;
    justify-content: center;
    filter: grayscale(60%);
    animation-timing-function: ease-in-out;
    transition: .7s;
    img {
        width: 80%;
        margin: 30px;
    }
    &:hover{
        filter: grayscale(0);
    }
}
.name{
    text-align: center;
    color: black;
    padding-top: 20px;
    animation-timing-function: ease-in-out;
    transition: .4s;
    &:hover {
        color: darkgray;
    }
}
.price {
    padding-bottom: 20px;
    text-align: center;
}
.description {
    text-align: center;
    padding: 0 30px;
    line-height: 20px;
}
