.headerwrapp {
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 50px;
}

.right *{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 100px;
}
.mplink{
    text-decoration: none;
    color: black;
}
.apple{
    position: absolute;
    top: 12px;
    left: 21px;
}