.welcome {
    text-align: center;
    margin-bottom: 30px;
    &_text{
        line-height: 40px;
        color: black;
        text-decoration: none;
    }
}
.wrapp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 202, 202);
    div{
        text-align: center;
        line-height: 40px;
    }
}
.btn_logout{
        cursor: pointer;
        width: 100px;
        height: 40px;
        background-color: rgb(205, 202, 202);
        border: 1px;
        border-radius: 5px;
        transition: ease-in-out .4s;
        &:hover{
            background-color: darkgray;
            color: white;
        }
}