.aside_menu{
    display: grid;
    margin: 60px auto 0 auto;
    width: 80%;
    grid-template-rows: repeat(3, 100px);
      &_item{
        text-decoration: none;
        text-align: center;
        padding-top: 40px;
        color: black;
        animation-timing-function: ease-in-out;
        transition: .7s;
        &:hover{
          color:gray;

        }
        &_active{
        text-decoration: none;
        text-align: center;
        padding-top: 40px;
        color: black;
        animation-timing-function: ease-in-out;
        transition: .7s;
        border: 2px solid gray;
        border-radius: 10px;

        }
      }
    }