.aside_menu{
    display: grid;
    margin-top: 50px;
    grid-template-rows: repeat(3, 100px);
      &_item{
        text-decoration: none;
        text-align: center;
        padding-top: 40px;
        color: black;
        animation-timing-function: ease-in-out;
        transition: .7s;
        &:hover{
          color:rgb(149, 148, 146);

        }
        &_active{
        text-decoration: none;
        text-align: center;
        padding-top: 40px;
        color: black;
        animation-timing-function: ease-in-out;
        transition: .7s;
        background-color: rgb(224, 224, 208);
        }
      }
    }