.productlist {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}
.listitem{
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.photo {
    display: flex;
    justify-content: center;
    filter: grayscale(60%);
    animation-timing-function: ease-in-out;
    transition: .7s;
    img{
        width: 200px;
        margin: 0 auto;
    }
    &:hover{
        filter: grayscale(0);
    }
}
.name{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 20px;
    animation-timing-function: ease-in-out;
    transition: .4s;
    &:hover {
        color: rgb(205, 202, 202);
    }
}
.price {
    padding-bottom: 20px;
    text-align: center;
}

