* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.wrapp {
  display: grid;
  grid-template-columns: repeat(2, 20% 80%);
  grid-gap: 0;
}
header {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  input{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 20px;
    margin-left: 50px;
    border-radius: 20px;
  }
}
main{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
  h1 {
    line-height: 40px;
    text-align: left;
  }
}


