* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.wrapp {
  display: grid;
  grid-template-columns: repeat(2, 20% 80%);
  grid-gap: 0;
}
header {
  background-color: rgb(224, 224, 208);
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  input{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 20px;
    margin-left: 50px;
    border-radius: 20px;
  }
}
main{
  margin-top: 50px;
  h1 {
    text-align: left;
  }
}

.aside_menu{
display: grid;
margin-top: 50px;
grid-template-rows: repeat(3, 100px);
  &_item{
    text-decoration: none;
    text-align: center;
    padding-top: 40px;
    color: black;
    animation-timing-function: ease-in-out;
    transition: .7s;
    &:hover{
      color:rgb(149, 148, 146);
      background-color: rgb(224, 224, 208);
    }
  }
}
footer {
  margin-top: 50px;
  background-color:rgb(224, 224, 208);
  height: 50px;
  width: 100%;
  text-align: left;
  line-height: 45px;
  div{
    margin-left: 50px;
  }
}
